{% extends 'base.html' %}
{% load static %}
{% block products %}

<link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
<link href="{% static 'css_mdbootstrap/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
<link href="{% static 'css_mdbootstrap/mdb.min.css' %}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
<link href="{% static 'css_mdbootstrap/style.min.css' %}" rel="stylesheet">
  <!-- Makes product cards look better -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:300,400,500,700' rel='stylesheet'>

<style>
.fa-search{
    height:4.22rem;
}

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.blog_right_sidebar .tag_cloud_widget ul li {
  display: inline-block;
}

.blog_right_sidebar .tag_cloud_widget ul li a {
  display: inline-block;
  border: 1px solid #eee;
  background: #fff;
  padding: 0px 13px;
  margin-bottom: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #222222;
  font-size: 12px;
}

.blog_right_sidebar .tag_cloud_widget ul li a:hover {
  background: #ff2f92;
  color: #fff;
}

.blog_right_sidebar .widget_title {
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  color: #222222;
  border-left: 3px solid #ff2f92;
  padding: 6px 0px 6px 13px;
  margin-bottom: 30px;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a:hover {
  text-decoration: none;
}

body{
    overflow-x:hidden;
}

.widget_title{
    width:150px;
}

@media only screen and (max-width: 767px){
    .widget_title{
        width:75px;
    }
}

</style>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#" style="padding-bottom:40px;color:white;"><b>CATEGORIES</b></a>
  {% for category,a in all_categories %}
  <ul>
    <li><a href="{% url 'cart:category' category|slugify %}" style="padding-bottom:0px;padding-top:0px;">{{ category }}</a></li>
  </ul>
  {% endfor %}
</div>

<!-- Use any element to open the sidenav -->
<!--<a href="" rel="tooltip" data-original-title="Just other tool tip data"><span onclick="openNav()" class="sidebutton">&#9776;Categories</span></a>-->
<span onclick="openNav()" class="sidebutton">&#9776;Categories</span>
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
  <main>
    {% if size_filter_nighties %}
    <form method="POST">
        {% csrf_token %}
        <div style="float:left;width:25%;">
            <section class="blog_area p_120" style="line-height: 24px;font-size: 14px;font-family:'Open Sans', sans-serif;font-weight: normal;">
              <div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="blog_right_sidebar">
                        <aside class="tag_cloud_widget">
                            <h4 class="widget_title">Filter by Size</h4>
                            <ul class="list">
                                <li><input type="submit" name="nighties_size" value="Regular"></li>
                                <li><input type="submit" name="nighties_size" value="XL"></li>
                                <li><input type="submit" name="nighties_size" value="XXL"></li>
                                <li><a href="{% url 'cart:category' cats %}">All sizes</a></li>
                            </ul>
                        </aside>
                      </div>
                    </div>
                  </div>
              </div>
            </section>
        </div>
    </form>
    {% endif %}

    {% if size_filter_tops %}
    <form method="POST">
        {% csrf_token %}
        <div style="float:left;width:25%;">
            <section class="blog_area p_120" style="line-height: 24px;font-size: 14px;font-family:'Open Sans', sans-serif;font-weight: normal;">
              <div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="blog_right_sidebar">
                        <aside class="tag_cloud_widget">
                            <h4 class="widget_title">Filter by Size</h4>
                            <ul class="list">
                                <li><input type="submit" name="tops_size" value="S"></li>
                                <li><input type="submit" name="tops_size" value="M"></li>
                                <li><input type="submit" name="tops_size" value="L"></li>
                                <li><input type="submit" name="tops_size" value="XL"></li>
                                <li><input type="submit" name="tops_size" value="XXL"></li>
                                <li><input type="submit" name="tops_size" value="XXXL"></li>
                            </ul>
                        </aside>
                      </div>
                    </div>
                  </div>
              </div>
            </section>
        </div>
    </form>
    {% endif %}


    {% if size_filter_nighties %}
    <div>
    {% elif size_filter_tops %}
    <div>
    {% else %}
    <div class="container">
    {% endif %}
        <h1 style="text-align:center;">{{ cats }} products</h1>
        <a href="" class="seemore">View All Products</a>
      <!--Section: Products v.3-->
      <section class="text-center mb-4">


        <div class="row wow fadeIn">

          {% for item in category_products %}
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                {% if item.image_url %}
                <img src="{{ item.image_url.url }}" class="card-img-top" alt="">
                {% else %}
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top" alt="">
                {% endif %}
                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                      <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>
                      {% if item.discount_price %}
                      &#8377<!--Comment to remove whitespace-->{{ item.discount_price }}
                      {% else %}
                      &#8377<!--Comment to remove whitespace--->{{ item.price }}
                      {% endif %}
                  </strong>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          {% endfor %}


        </div>
        <!--Grid row-->



      </section>
      <!--Section: Products v.3-->
    </div>
  </main>
</div>









<script>

  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }


  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
</script>
{% endblock %}

